__pycache__
.idea*
venv
*.pyc
install
.ipynb_checkpoints
.vscode
htmlcov
.nfs*
.coverage*
*.xml
*.egg-info
.python-version
.DS_Store

# build artifacts
.cache

experiments
notebooks
data/uploaded_finetuning_files


.env
wandb
