torch
transformers
openai>=0.27.9
black
ruff
pre-commit
fire
pandas
ipython
matplotlib
scipy
anthropic>=0.3.10
pytest
pydantic>=2.0.0
slist>=0.1.9
retry
pyright
pyrate_limiter
python-dotenv
jupyterlab
tiktoken
plotly
kaleido
nltk
seaborn
statsmodels
streamlit
datasets
wandb
fuzzywuzzy
