transformers
openai
black
ruff
pre-commit
fire
pandas
ipython
matplotlib
scipy
anthropic
pytest
pydantic>=1.9.0,<2.0.0
slist>=0.1.9
retry
pyright
pyrate_limiter
python-dotenv
jupyterlab
tiktoken
plotly
kaleido
nltk
seaborn
