torch
transformers
openai>=1.1.1
black
shed
ruff
pre-commit
fire
pandas
ipython
matplotlib
scipy
anthropic>=0.3.10
pytest
pydantic>=2.0.0
slist>=0.2.8
retry
pyright
pyrate_limiter
python-dotenv
jupyterlab
tiktoken
plotly
kaleido
nltk
seaborn
statsmodels
streamlit
datasets
wandb
fuzzywuzzy
python-Levenshtein
anyio>=3.0.0
grugstream